.hot_time {
  text-align: left;
  margin-top: 10px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 12px;
  transform: scale(0.91);
  transform-origin: left top;
}
.hot_icon {
  width: 142px;
  height: 67px;
  background-image: url('~@/assets/hot_icon.png');
  background-position: -24px -30px;
  background-size: 166px 97px;
}
.hot_flex {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding-left: 20px;
  box-sizing: border-box;
}
.hot_top {
  position: relative;
  padding-top: 38.9%;
  overflow: hidden;
  background: url('~@/assets/hot_bg.jpg') no-repeat;
  background-size: contain;
}
.hot_top:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.ranklist {
  padding-bottom: 68px;
}
